# Core MCP Server dependencies
mcp[cli]>=1.4.0
python-dotenv

# OpenAI TTS dependencies
openai[voice_helpers]>=1.70.0

# Kokoro TTS dependencies
numpy>=1.20.0
soundfile>=0.10.3
kokoro>=0.1.0

# Shared dependencies
termcolor>=1.1.0 